@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/**, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

*:focus {
    outline: none;
}

*::-webkit-scrollbar-track {
    background-color: #00000000;
}

*::-webkit-scrollbar {
    width: 4px;
    background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(157, 157, 157, 0.75);
    border-radius: 50px;
}

    *::-webkit-scrollbar-thumb:hover {
        background-color: rgba(157, 157, 157, 1);
    }

:root {
    --window-bgColor: white;
    --main-bgColor: #d2d5dd;
    --modal-bgColor: #fbfcfc;
    --accent-Color: black;
    --accent-Color-Selected: black;
    --accentFont-Color: white;
    --consoleBar-bgColor: white;
    --consoleButton-Color: dimgrey;
    --consoleButton-Color-Hover: #7e7e7e;
    --consoleWindow-bgColor: #70707e;
    --sideNav-bgColor: #f0f3fa;
    --sideNavButton-Color: dimgrey;
    --sideNavButton-bgColor-Hover: #e2e6f1;
    --sideNavButton-Color-Hover: dimgrey;
    --sideNavButton-bgColor-Active: white;
    --tabBar-bgColor: #ebeef5; /* #f1f1f1;*/
    --tabButton-bgColor-Active: white;
    --tabButton-Color: dimgrey;
    --tabButton-Color-Hover: black;
    --closeTabButton-Color: #d2d5dd;
    --closeTabButton-Color-Hover: #adadae;
    --newTabButton-bgColor-Hover: #e2e6f1;
    --reportTableHeader-bgColor: #f2f2f2;
    --reportTableHeader-Color: dimgrey;
    --reportTableRow-bgColor: #f8f8f8;
    --reportTableRow-bgColor-Hover: white;
    --reportTableRow-Color: black;
    --reportTable-BorderColor: #f2f2f2;
    --editorTopBar-bgColor: #f2f2f2;
    --editorTopBar-BorderColor: #e0e0e0;
    --fileExplorer-bgColor: #f0f1f8;
}

    /*:root[theme='dark'] {
        --window-bgColor: black;
        --main-bgColor: #1c1e25;
        --modal-bgColor: #141417;
        --accent-Color: #009aff;
        --accent-Color-Selected: #0796f3;
        --accentFont-Color: white;
        --consoleBar-bgColor: #141417;
        --consoleButton-Color: silver;
        --consoleButton-Color-Hover: white;
        --consoleWindow-bgColor: #090909;
        --sideNav-bgColor: #0e0e10;
        --sideNavButton-Color: #787878;
        --sideNavButton-bgColor-Hover: #141417;
        --sideNavButton-Color-Hover: silver;
        --sideNavButton-bgColor-Active: #1b1b1f;
        --tabBar-bgColor: #0e0e11;
        --tabButton-bgColor-Active: #141417;
        --tabButton-Color: dimgrey;
        --tabButton-Color-Hover: white;
        --closeTabButton-Color: dimgrey;
        --closeTabButton-Color-Hover: #868686;
        --newTabButton-bgColor-Hover: #19191e;*/
                /*--reportTableHeader-bgColor: #444b5d;*/
        /*--reportTableHeader-bgColor: #2f2f34;
        --reportTableHeader-Color: white;*/
                /*--reportTableRow-bgColor: #282a36;*/
        /*--reportTableRow-bgColor: #232327;*/
                /*--reportTableRow-bgColor-Hover: #323441;*/
        /*--reportTableRow-bgColor-Hover: #2b2b30;
        --reportTableRow-Color: white;
        --reportTable-BorderColor: transparent;
        --editorTopBar-bgColor: #1a1b1f;
        --editorTopBar-BorderColor: #3c3b42;
        --fileExplorer-bgColor: #22252b;
    }*/

/*@media screen and (max-width: 1000px) {
    .column {
        width: 80%;
        display: block;
        margin-bottom: 20px;
    }

}*/


/*
 * Keyframes
 */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {

    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft {

    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes popIn {

    0% {
        opacity: 0;
        transform: scale(0);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}




/** Basic styles for an animated element */
.qp-animate{
animation-duration: 0.25s;
transition-timing-function: ease-in;
animation-fill-mode: both;
}

/** An element that fades in */
.qp-fadein {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

/** An element that fades in and slides up */
.qp-fadein-up {
    animation-name: fadeInUp;
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}


/** An element that fades in and slides from the right */
.qp-fadein-right {
    animation-name: fadeInRight;
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

/** An element that fades in and slides from the left */
.qp-fadein-left {
    animation-name: fadeInLeft;
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

/** An element that fades in with popping effect */
.qp-popin {
    animation-name: popIn;
    animation-duration: 0.35s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.is-exiting {
    animation-direction: alternate-reverse;
}

